# Table of contents

#### 1- Importing libraries
#### 2- Merging instacart data
#### 3- Exporting dataframe as a pickleÂ¶

## 1 Importing libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#importing dataframe
path=r'/Users/Amaikuru/Desktop/08-06-2022 Instacart Basket Analysis.nosync'

In [3]:
df_ords_prior=pd.read_csv(os.path.join(path, '02 Data', 'Original', 'order_products__prior.csv'))

In [6]:
vars_list=['order_id', 'user_id', 'order_number', 'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order']

In [7]:
df_ords=pd.read_csv(os.path.join(path, '02 Data', 'Prepared', 'orders_cleaned.csv'), usecols=vars_list)

## 2 Merging instacart data

In [8]:
#checking dimensions
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords.shape

(3421083, 6)

In [10]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
#looking for missing values
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [12]:
#looking for dupilicates
df_dups = df_ords_prior[df_ords_prior.duplicated()]

In [13]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [14]:
#for fully matching inner join would be used
df_merged_large_i=df_ords.merge(df_ords_prior, on = 'order_id', how = 'inner', indicator=True)

In [15]:
df_merged_large_i.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [16]:
#counting indicator column
df_merged_large_i['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [17]:
df_merged_large=df_ords.merge(df_ords_prior, on = 'order_id', how = 'inner')

In [18]:
df_merged_large.shape

(32434489, 9)

## 3 Exporting dataframe as a pickle

In [19]:
#pickles can only be opened using python
#saves time and space

In [22]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared', 'orders_products_combined.pkl'))