# Table of contents

#### 1- Importing libraries/dataframe
#### 2- Combining with products dataset
#### 3- Exporting as pickle

## 1 Importing libraries/dataframe

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#importing combined dataframe 
path=r'/Users/Amaikuru/Desktop/08-06-2022 Instacart Basket Analysis.nosync'

In [3]:
orders_products_combined=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared', 'orders_products_combined.pkl'))

In [4]:
orders_products_combined.shape

(32434489, 9)

### This has the same shape as the exported file

## 2 Combining with products dataset

In [5]:
vars_list=['product_id','product_name','aisle_id', 'department_id','prices']

In [6]:
#importing products dataset
df_prod=pd.read_csv(os.path.join(path, '02 Data', 'Prepared', 'products_cleaned.csv'), usecols=vars_list)

In [7]:
df_prod.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_prod.shape

(49672, 5)

### The two data frames can be merged on the product_id column

In [9]:
#merging the two dataframes
orders_products_merged=df_prod.merge(orders_products_combined, on = 'product_id', how = 'inner', indicator=True)

In [10]:
orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [11]:
#counting join types
orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [12]:
orders_products_merged.shape

(32404859, 14)

## 3 Exporting as pickle

In [13]:
#exporting dataframe
orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared', 'orders_products_merged.pkl'))